* { margin : 0 ; padding : 0 ; box-sizing : border-box ; }
div.grid-container {
   display : grid ;
   grid-template-columns : auto auto auto ;
   grid-template-rows : auto auto ;
   border : 2px dashed DeepSkyBlue ; }

div.grid-container > div {
  background : LightBlue ;
  border : 2px solid DeepSkyBlue ;
  padding : 10px;
  width: auto;
  font : 1.25em sans-serif ; 
}
.flex-container {
  display: flex;
  flex-wrap: wrap;
  background-color: transparent;
}

.flex-container > div {
  background-color: #f1f1f1;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100px;
  height: 50px;
  background-color: #transparent;
}

li a {
  display: block;
  color: #000000;
  padding: 8px 16px;
  text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}
.link:before {content: " ";}
#
table{
	border: centre;
td{
	background-color: #transparent;
}